/*****************************************************************************/
/*
/* Layout
/*
/*****************************************************************************/

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  font: 100%/1.5 "Noto Sans", sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;}

body {
  background-color: #FFF;
  font: 17px 'Noto Sans' Helvetica, Arial, sans-serif;
  color: #555;
  text-align: justify;
}
@media (min-width: 40rem) {
  html { font-size: 112%; }
}

@media (min-width: 64rem) {
  html { font-size: 120%; }
}


.container {
  margin: 0 auto;
  max-width: 53rem;
  width: 90%;
}

.intro {
  margin: 0 auto;
  max-width: 24em;
  text-align: center;
}

.intro p {
  color: #999;
}

/*****************************************************************************/
/*
/* Header
/*
/*****************************************************************************/

header{
  margin-top: 100px;
}

header a {
  font-weight: bold;
  text-decoration: none;
}

header a.extra {
  color: #aaa;
  margin-left: 1em;
}

header a.extra:hover {
  color: #000;
}

header a:hover { text-decoration: none; }

.date p {
  color: #000;
  text-decoration: underline;
}

.mobile {
  margin: 0 auto;
  max-width: 150px;
}

@media (min-width: 40rem) {
  .mobile { max-width: 250px; }
}


/*****************************************************************************/
/*
/* Posts
/*
/*****************************************************************************/

.posts {
  list-style-type: none;
  margin-bottom: 2em;
}

.posts li {
  line-height: 1.75em;
}

.posts span {
  color: #aaa;
  font-family: Monaco, "Courier New", monospace;
  font-size: 80%;
  margin-left: 100px;
}

.posts p {
  font-size: 1em;
}

@media (max-width: 40rem) {
  .posts span{ display: none;}
}

.posts a {
  font-size: 1.5rem;
  text-decoration: none;
  font-style: bold;
}

@media (max-width: 40rem) {
  .posts a{ font-size: 2rem;}
}

.posts a:hover{
  color: #333;
  -moz-transition: color 0.3s ease;
  -ms-transition: color 0.3s ease;
  -webkit-transition: color 0.3s ease;
  transition: color 0.3s ease;
}

/*****************************************************************************/
/*
/* NAVIGATION
/*
/*****************************************************************************/

nav {
  float: right;
  height: auto;
  overflow: hidden;
  padding: 0;
  width: auto;
  display: block;
}

nav.hidden {
  height: 0;
}

nav.visible {
  height: auto;
}

nav ul {
  margin: 0.5rem 0 0 0;
  overflow: hidden;
  padding: 0;
}

nav li {
  /* border-bottom: 1px solid #eee; */
  /* border-top: 1px solid #eee; */
  list-style: none;
  text-align: center;
  float: right;
}

nav li a {
  color: #999;
  font-size: 1rem;
  font-weight: 600;
  display: block;
  -moz-transition: color 0.3s ease;
  -ms-transition: color 0.3s ease;
  -webkit-transition: color 0.3s ease;
  transition: color 0.3s ease;
  padding: 0.6rem 0.5rem 0.4rem 0.5rem;
}

nav li.current a { color: #333; }

nav li:last-child a {
  /*padding-bottom: 0.3rem;*/
}

nav li a:hover {
  color: #333;
  text-decoration: none;
}

/*****************************************************************************/
/*
/* Posts
/*
/*****************************************************************************/

.post pre {
  border: 1px solid #ddd;
  background-color: #eef;
  padding: 0 .4em;
}

.post ul, .post ol {
  margin-left: 1.35em;
}

.post code {
  border: 1px solid #ddd;
  background-color: #eef;
  padding: 0 .2em;
}

.post pre code {
  border: none;
}

/* terminal */
.post pre.terminal {
  border: 1px solid #000;
  background-color: #333;
  color: #FFF;
}

.post pre.terminal code {
  background-color: #333;
}

/*****************************************************************************/
/*
/* Animations
/*
/*****************************************************************************/

@-webkit-keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

@-moz-keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

@-o-keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

@keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

.fadeIn {
  -webkit-animation-name: fadeIn;
  -moz-animation-name: fadeIn;
  -o-animation-name: fadeIn;
  animation-name: fadeIn;
}

/* Footer
   ========================================================================== */

.footer {
  font-size: 80%;
  color: #666;
  border-top: 2px solid #eee;
  margin-top: 2em;
  overflow: hidden;
}

.footer .contact {
  margin-right: 3em;
}

.footer .contact a {
  color: #8085C1;
}



/*****************************************************************************/
/*
/* Mobile Grid
/*
/*****************************************************************************/



/* Section
   ========================================================================== */

section {
  border-top: 1px solid #eee;
  text-align: center;
  padding: 2rem 0;
}

section:first-of-type { border-top: none; }

@media (min-width: 40rem) {
  section { padding: 4rem 0; }
}

/* Mobile First Grid
   ========================================================================== */

.column { margin-bottom: 1.5rem; }

@media (min-width: 40rem) {
  .column {
    float: left;
    margin: 0;
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .column.full { width: 100%;}
  .column.two-thirds { width: 66.7%; }
  .column.half { width: 50%; }
  .column.third { width: 33.3%; }
  .column.fourth { width: 24.95%; }
  .column.flow-opposite { float: right; }
}

/*****************************************************************************/
/*
/* Typography
/*
/*****************************************************************************/

h1 { font-size: 2.782em; line-height: 1.2em;}
h2 { font-size: 1.719em; line-heightq: 1.8em}
h3 { font-size: 1.063em; }

h4, h5, h6 {font-size: 100%}

h1 { margin-bottom: 1em; text-align: center;}

a         { color: #666; }
a:hover   { color: #ada; }
a:visited { color: #666; }


/* Box Model
   ========================================================================== */

.box-model h1 { margin-bottom: 3rem; }

.margin { color: #f9cd9d; }
.border { color: #fce08f; }
.padding { color: #c2ddb6; }
.content { color: #9ec3e5; }

/* Clearfix
   ========================================================================== */
.container:before, .cf:before,
.row-example:before, .row-example:after,
.container:after, .cf:after {
  content: " ";
  display: table;
}

.container:after,
.row-example:after,
.cf:after {
  clear: both;
}

.container,
.row-example,
.cf {
  *zoom: 1;
}


.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}
 
.clearfix:after {
  clear: both;
}
 
.clearfix {
  *zoom: 1;
}
