---
layout: default
title: Daud Balling
home: true
---
<div class="container">
	<div class="row clearfix">
          <div class="column full">
			<div class="intro">
				<h1>Hello</h1>
				<p>I'm Daud Balling and this is my website</p>
			 <div class="column full">
               <img src="./assets/images/square-large.png" id="square-image">
              </div>
            </div>
          </div>
		</div>
	</div>
	<div class="row clearfix">
		<div class="column full">
			<p>I'm a Business Economics &amp; IT student at Copenhagen School of Design and Technology. I work as a student developer <a href="http://s-cubed.co.uk">S-cubed Aps</a> where I work with Qlikview applications.</p>
			<p>According to Forbes I live in one of the <a href="http://www.forbes.com/pictures/mef45ejmi/02-denmark/">happiest</a> countries in the world.</p>
			<p>A big part of my life have been centered around music and playing musical instruments. Apparently that means my brain is capable of sophisticated <a href="http://www.policymic.com/articles/88357/science-shows-how-guitar-players-brains-are-actually-different-from-everybody-elses">things.</a></p>
		</div>
	<div class="row clearfix">
		<div class="column full">
          <div class="row center-text">
			<img src="assets/images/x100t/x100t-icon-small.png">
		  </div>
        </div>
	</div>
      </div>
    <div class="row clearfix">
		<h2>I shoot with Fujifilm and an iPhone</h2>
	</div>
    <div class="row clearfix">
      <div class="column full">
        {% if post.img %}
          <img src="
          {% for img in post.img %}
            [{{site.url}}/assets/images/2015/apr/fujiwalk/{{img[1]}} ({{img[0]}})]
            {% unless forloop.last %}, {% endunless %}
          {% endfor %}
          ">
        {% endif %}
      </div>
	</div>
</div>