<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ page.title }}</title>
        
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- syntax highlighting CSS -->
        <link rel="stylesheet" href="/css/normalize.css">
        <link rel="stylesheet" href="/css/syntax.css">
        <link rel="stylesheet" href="/css/main.css">

        <!-- Google Fonts -->
        <link rel="stylesheet" type="text/css" href="/assets/fonts/fonts.css">

    </head>
    <body>

        <div class="container">
          <div class="header">
            <div class="logo"><a href="/"><img src="/assets/images/signature.png"></a></div>
            <div class="navigation"><a href="/">home</a></div>
          </div>

          {{ content }}

          <div class="footer">
            <div class="contact">
              <p>
                Daud Balling<br />
                <a href="mailto:hello@daudballing.me">Say Hello</a>
              </p>
            </div>
            <div class="contact">
              <p>
                // My <a href="https://github.com/daudballing">CODE</a><br />
                // My <a href="https://twitter.com/dauddenmark">TWITTER</a><br />
              </p>
            </div>
          </div>
        </div>

    </body>
</html>
